/*
Most spectacular css
*/

body {
    width: 960px;
    margin: auto;
}

.navbar {
    width: 960px;
    margin: auto;
    
}

.data-list ul {
    list-style: none;
    display: block;
}

.data-list li {
    clear: both
}

.data-list ul li button {
    float: right
}

.people {
    margin-top: 10px;    
}

.people span {
    margin-right: 20px;
}