/*
Most spectacular css
*/

body {
    width: 960px;
    margin: auto;
}

.navbar {
    width: 960px;
    margin: auto;
    
}

.navbar .brand {
    padding: 0 10px 0 15px;
}

.brand img {
    height: 40px;
}

.data-list ul {
    list-style: none;
    display: block;
}

.data-list li {
    clear: both
}

.data-list ul li button {
    float: right
}

.people, .instructors {
    margin-top: 10px;    
}

.people span, .instructors span{
    margin-right: 20px;
}

.courses p {
    margin-left: 20px;
}

.courses textarea {
    min-width:400px;
    
}